.hyperButtons{
    display: flex;
    width: auto;
    justify-content: end;
}

.hyperlink{
    margin-right: 20px;
    padding: 10Px;
    margin-top: 5px;
}

.hyperlinkI1{
    padding: 10Px;
    margin-right: 10px;
    margin-top: 5px;
}

.hyperlinkI2{
    padding: 10Px;
    margin-right: 20px;
    margin-top: 5px;
}

a{
    text-decoration: none;
}

.RegularSearchContainer{
    margin-top: 1px;
    height: 100px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.indexForm{
    display: flex;
    flex-direction: column;
}

.indexSearchArea{
height:34px;
width:520Px;
border-radius: 20px;
padding: 5px 8px 0 14px;
border: 0.02px solid grey ;
}

.indexSubmitButton{
 width: 22%;
 height:30px;
 margin-top:20px;
 margin-left:20%;
 margin-right: 10%;
}

.indexSubmitButton1{
    width: 25%;
    height:30px;
    margin-top:20px;
   }
.indexSubmitButtons{
    display: flex;
    align-items: flex-start;
}

.advancedQueries{
    display:flex;
    height:300px;
    justify-content: space-around;
    flex-direction: column;
    margin-left: 3%;

}

.advancedQuery{
    width: 50%;
}

.trialContainer{
    margin-left: 2%;
}
.trial{
    display: flex;
    height: 300px;
    width: 100%;
}

.myText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.myInput{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 1%;
    justify-content: space-around;
}
#advancedSumitButton{
    background-color: #4d90fe;
    padding: 4px;
    width: 10%;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    margin-right: 55px;
}

.googleLogoDiv{
    display: flex;
    justify-content: center;
    height: 92px;
    padding-top:10px;
    margin-bottom: 30px;
}

.googleLogoLetter{
    font-size: 92px;
    font-family:sans-serif;
    font-weight: light;
}

#G{ color:#4285F4; }
#G{ color:#4285F4; }
#O{ color: #EA4335; }
#O2{color: #FBBC05;}
#G{color: #4285F4;}
#L{color: #34A853;}
#E{color: #EA4335;}

.GoogleLogo{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}



.GoogleLogoImages{color:#4285F4; font:16px/16px roboto-regular, arial, sans-serif; display:flex; flex-direction: column; justify-content: end;}

.ImageSearch{ display: flex;
justify-content: center;
align-items: end;
margin-top: 35px;
}

.ImageSearchArea{
    height:34px;
    width:520Px;
    border-radius: 20px;
    padding: 5px 8px 0 14px;
    border: 0.01px hidden grey;
    outline: none;
    }

.searchicon{height: 20px; margin-right: 8px;}    
.searchAreaStyle{
    border:0.01px solid grey;
    border-radius: 20px;
    padding-right: 3px;
}

.advancedHeader{
    display: flex;
     margin-top: 2px;
     justify-content: space-between;
}

.LogoGoogleAdvanced{
    height: 24px;
    width: 74px;
    margin: 10px;
    margin-top: 15px;
}

.AdvancedTextDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
 height:50px;
margin-top:30px;
margin-bottom: 30px;
 border-bottom: 1px solid #ebebeb ;
}
.AdvancedText{
 margin-left:50px;
 color: #d93025;
 font-size: 20px;
 font-family: Arial, sans-serif;
}

.findPagesText{font-size: 100%;
font-family: Arial, sans-serif;

}

.advancedSumit{
    display:flex;
    justify-content: center;
}

.trialContainer{
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    width: 100%;
}